.profile{
    border-image: none;
    display: flex;
  }
  .about{
    padding-top: 20vh;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    
  }
  
  .description{
    width: 50vw;
    
  }